.weatherBox {
  background-color: #0a1f27;
  width: 100%;
  padding: 20px 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  z-index: -1;
}

.line {
  border-right: 4px solid rgba(128, 128, 128, 0.1);
  height: 131px;
  position: absolute;
  z-index: -1;
  top: -25px;
  left: 61px;
}

.day,
.date,
.tempMinMax {
  color: #8a8a8a;
}

.tempMinMax {
  font-size: 0.9em;
}

.desc,
.temp {
  color: #fff;
  font-size: 1.3em;
}

.leftSide {
  text-align: right;
  display: flex;
  align-items: center;
}

.rightSide {
  text-align: left;
}

.leftSide,
.rightSide {
  padding: 5px;
}

.icon {
  text-align: center;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
}

.icon img {
  z-index: 2;
}

.leftInnerRight {
  display: inline-block;
  text-align: left;
}

.leftInnerRight div,
.leftInnerRight span {
  padding-top: 4px;
}

.leftInnerLeft {
  display: inline-block;
}
